div.song-list-item {
    display: inline-block;
    height: 100px;
    width: auto;
}

div.album-art {
    float: left;
    max-height: inherit;
    width: auto;
}

div.album-art img {
    float: left;
    max-height: 50%;
    width: auto;
}

div.album-info {
    float: right;
    max-height: inherit;
    width: auto;
}