div.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button {
    border-radius: 18px;
    padding: 5px 15px;
    background-color: black;
    border: 2px solid white;
    color: white;
    text-size-adjust: inherit;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    transition-timing-function: ease-out;
}

.play-button:hover {
    padding: 8px 18px;
}